@{
    ViewBag.Title = "Why LikeIke";
}

<div class="row">
    <div class="col-md-6 col-sm-4 jumbotron">
        <h2>Why is it hard to make decisions?</h2>
    </div>
    <div class="col-md-6 col-sm-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sem metus, porttitor vel purus non, auctor ultrices quam. In hac habitasse platea dictumst. Phasellus pharetra dapibus mollis. Duis auctor lacinia suscipit. Nunc id arcu quis arcu venenatis pharetra. Cras pellentesque urna eros, nec convallis lacus commodo ut. Vestibulum at diam euismod, hendrerit nisl vitae, vehicula risus. Morbi sed ipsum a mauris lacinia rhoncus. Proin aliquam, nulla nec venenatis suscipit, libero eros scelerisque lorem, a feugiat lacus justo a lacus. Praesent nec pharetra ipsum. Nulla ullamcorper felis nisl, ac viverra odio sodales eget. Mauris eget viverra arcu. Nullam venenatis, lacus sit amet pellentesque gravida, leo risus tincidunt justo, et eleifend lectus lacus non libero. Integer mattis id purus a imperdiet. Mauris dui ipsum, semper sit amet diam sit amet, gravida posuere purus.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-4 jumbotron">
        <h2>What is a Fire Drill?</h2>
    </div>
    <div class="col-md-6 col-sm-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sem metus, porttitor vel purus non, auctor ultrices quam. In hac habitasse platea dictumst. Phasellus pharetra dapibus mollis. Duis auctor lacinia suscipit. Nunc id arcu quis arcu venenatis pharetra. Cras pellentesque urna eros, nec convallis lacus commodo ut. Vestibulum at diam euismod, hendrerit nisl vitae, vehicula risus. Morbi sed ipsum a mauris lacinia rhoncus. Proin aliquam, nulla nec venenatis suscipit, libero eros scelerisque lorem, a feugiat lacus justo a lacus. Praesent nec pharetra ipsum. Nulla ullamcorper felis nisl, ac viverra odio sodales eget. Mauris eget viverra arcu. Nullam venenatis, lacus sit amet pellentesque gravida, leo risus tincidunt justo, et eleifend lectus lacus non libero. Integer mattis id purus a imperdiet. Mauris dui ipsum, semper sit amet diam sit amet, gravida posuere purus.</p>
    </div>
</div>
