@model LikeIke.Models.TaskListViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class=" col-md-12 row">
    
    <h2>Important Tasks</h2>

    @for (var i = 0; i < Model.TaskList.Count; i++)
    {
        <div class="col-sm-12 row">
            <div class=" col-sm-8 checkbox">
                <label><input type="checkbox" value="">@Model.TaskList[i].TaskName</label>
            </div>
            <div class="col-sm-4 btn-group">
                @Html.ActionLink("Review", "TaskDetail", new {id = Model.TaskList[i].TaskId }, new { @class="btn btn-info btn-sm"})
                @Html.ActionLink("Edit","EditTask", new { id = Model.TaskList[i].TaskId }, new { @class = "btn btn-primary btn-sm"})
                <button type="button" class="btn btn-danger btn-sm">Del</button>
            </div>
            <hr />
        </div>
    }


</div>

@*Added the ATmodel connection to connect the HomeController with the Index.cshtml page. It is taking the TaskListViewModel which is what is being passed into the view*@
@*Note: passing in the id parameter of the element is important for the methods to be able to connect particular elements from one another.*@